[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.21.0"
scipy = "==1.7.0"
scienceplots = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
